<div class="container_big-card">

  <div class="big-card_photo">

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/991px-Placeholder_view_vector.svg.png" alt="" height="250px" width="396px">

  </div>

  <div class="big-card_title">
    <a href=""><h1>Saiu a nova versão do Angular</h1></a>
  </div>

  <div class="big-card_description">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum vitae iure exercitationem fugiat, eligendi voluptatum aut explicabo iusto accusantium pariatur neque quo a voluptas dolores architecto praesentium accusamus nam quasi.</p>
  </div>
</div>
